aside#quick-info {
    z-index: 2;
    @extend %pos-relative;
    @extend %full-width;
    padding: 1ex 0;
    justify-content: space-between;
    .info-button {
        @extend %pos-relative;
        @extend %full-width;
        color: $theme-secondary-color;
        text-decoration: none;
        background-color: #FFF;
        border: 1px inset $theme-main-color;
        border-radius: 5px;
        padding: 1ch;  
        &:hover {
            background-color: $theme-main-color;
            color: #FFF;
        }
        &:not(:first-of-type) {
            margin-top: 0.5ex;
        }
    }
    @include media-min-420px {
        .info-button {
            width: 48%;
            &:not(:first-of-type) {
                margin-top: 0;
            }
        }
    }
    @include media-min-768px {
        position: fixed;
        width: 22ch;
        top: 65px;
        right: 0;
        padding-bottom: 2ch;
        .info-button {
            width: 100%;
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
            &:not(:first-of-type) {
                margin-top: 1ex;
            }
        }
    }
}

%carousel-sizing {
    width: 100vw;
    height: 100%; 
    min-height: 500px;
    @include media-max-768px {
        min-height: 350px;
    }
}

%default-border-radius {
    border-radius: calc(.25rem - 1px);
}

%image-border-radius {
    border-radius: 5px;
}

#home-banner {
    @extend %carousel-sizing;
    overflow: hidden;
    z-index: 1;
    .carousel-item {
        @extend %carousel-sizing;
        background: no-repeat center center scroll;
        background-size: cover;
    }
    .carousel-indicators {
        z-index: 2;
        li {
            width: 20px;
            height: 20px;
            border-radius: 50%;
        }
    }
    .slide-text {
        overflow: hidden;
        h3 {
            animation: 1.5s slide-bottom 0.5s forwards;
            transform: translateY(-200px);
        }   
        p {
            animation: 2.5s slide-right 2s forwards;
            transform: translateX(-100%);
        }        
    }
}

main {
    @extend %pos-relative;
    z-index: 1;
    background-color: $theme-main-color;
}

%arrow-common-styles {
    @extend %pos-absolute;
    content: "";
    top: 20px;
    width: 0;
    height: 0;  
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;    
}

#main-left-column {
    order: 2;
    .card {
        .card-header {
            padding: 0.5rem .75rem;
            .btn-link {
                @extend %display-block;
                padding: .25rem .5rem;
                text-align: left;
                text-decoration: none;
                font-weight: bold;
                color: $theme-secondary-color;
                &:after {
                    @extend %pos-absolute;
                    content: "+";
                    font-size: 120%;
                    right: 1ch;
                    top: calc(50% - 1ex);
                    
                }
                &[aria-expanded=true] {
                    color: $theme-link-color;
                    &:after {
                        content: "-";
                    }
                }
            }
        }
        .card-body {
            padding: .25rem 1.25rem;
            line-height: 1.2;
            font-size: small;
        }
    }
    ul {
        @extend %full-width;
        margin: 0;
        padding: 0;
        li {
            @extend %pos-relative;
            line-height: 1.5rem;
            padding: 10px;
            + li {
                border-top: 1px solid $theme-main-color;
            }
            a {
                @extend %display-block;
                color: inherit;
                text-decoration: none;
                padding-left: 10px;
                    &:before {
                        content: "\2713";
                        @extend %pos-absolute;
                        left: 5px;                        
                    }                
            }            
            &:hover, &.open {
                > a {
                   color: $theme-link-color;
                    &:before {
                        content:"×";
                        font-size: 125%;
                        font-weight: 200;
                    }                    
                }
            }
            &.sub-list {
                 &:after {
                    @extend %pos-absolute;
                    content: '\2192';
                    right: 20px;
                    top: 10px;
                    color: $theme-link-color;
                 }
                 .sub-nav {
                    @extend %pos-absolute;
                    @extend %display-block;
                    width: 250px;
                    height: 0;
                    max-height: 0;
                    left: 100%;
                    top: -10px;
                    background-color: #FFF;
                    z-index: 5;                    
                    @extend %image-border-radius;
                    overflow: hidden;
                    color: transparent;
                    &.nav-open {
                        padding: 10px;
                        height: auto;
                        max-height: 500px;
                        color: $theme-secondary-color;
                        @include transition-mixin(max-height, 1s, ease-in);
                        @include transition-mixin(color, 1.2s, ease-in);
                        z-index: 8;
                        border: 1px solid $theme-secondary-color;
                        overflow: visible;
                    }
                    &:before {
                        @extend %arrow-common-styles;
                        left: -10px;
                        border-right: 10px solid $theme-secondary-color;
                        z-index: 9;
                    }    
                    &:after {
                        @extend %arrow-common-styles;
                        left: -8px;
                        border-right: 10px solid #FFF;
                        z-index: 10
                    }                      
                }                 
            } 
            @include media-max-576px {
                &.sub-list {
                    &.open {
                        &:after {
                            content: "";
                        }
                    }
                    .sub-nav {
                        position: relative;
                        left: -10px;
                        top: 10px;
                        width: auto;
                        max-width: 100%;
                        @include transition-mixin(all, 1s, ease);                       
                        &.nav-open {
                            margin-bottom: 1rem;
                            overflow-y: visible;
                        }
                        &:before {
                            border-left: 10px solid transparent;
                            border-right: 10px solid transparent;
                            border-bottom: 10px solid #333;
                            border-top: none;
                            top: -11px;
                            left: 10px;
                        }
                        &:after {
                            border-left: 10px solid transparent;
                            border-right: 10px solid transparent;
                            border-bottom: 10px solid #FFF;
                            border-top: none;
                            top: -10px;
                            left: 10px;
                        }
                    }
                }
            }
        }
    }
    @include media-min-992px {
        order: 1;
    }     
}

#main-center-column {
    order: 1;
    background-color: #FFF;
    @extend %default-border-radius;
    article {
        background-color: $theme-main-color;
        margin-bottom: 1rem;
        padding: 15px;
        h3 {
            padding-bottom: 1rem;
            color: $theme-link-color;
            font-size: 1.2rem;
            @extend %center-align;
        }
        small {
            font-size: 0.8rem;
            padding-left: 15px;
        }
        figure {
            img {
                @extend %full-width;
                @extend %image-border-radius;
                border: 2px inset grey;
            }
        }
        blockquote {
            margin: 0;
            p {
                margin-bottom: 0;
                height: 10rem;
                overflow-y: hidden;
                line-height: 1.3;
            }
            cite {
                @extend %display-block;
                text-align: right;
                line-height: 1;
            }
            a {
                @extend %display-block;
                padding-top: 1rem;
                color: $theme-link-color;
                &:hover {
                    color: $theme-secondary-color;
                }
            }
        }
    }
    @include media-min-992px {
        order: 2;
    }    
}

#main-right-column {
    order: 3;
    dl {
        background-color: #FFF;
        padding: 1rem;
        @extend %default-border-radius;
    }
    dt {
        @extend %full-width;
        @extend %center-align;
        line-height: 1.2rem;
        padding-bottom: 1rem;
    }
    dd {
        @extend %full-width;
        figure {
            @extend %full-width;
            @extend %display-block;
            img {
                @extend %full-width;
                @extend %auto-margin;
                @extend %image-border-radius;
            }
        }
    }    
}